[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-theme-terminal"]
	path = themes/hugo-theme-terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "hugo-PaperMod"]
	path = hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "just-me"]
	path = just-me
	url = https://github.com/jota-ele-ene/just-me.git
[submodule "gohugo-theme-ananke"]
	path = gohugo-theme-ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
